@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng Ký";
    var modelState = ViewData.ModelState;
}

<h2 class="text-center mb-4">Đăng Ký Tài Khoản</h2>

@if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
{
    <div class="alert alert-success text-center">@TempData["Message"]</div>
}
@if (!modelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in modelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Fullname"></label>
        <input asp-for="Fullname" class="form-control" />
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Chọn vai trò</label>
        <select asp-for="RoleId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Roles, "RoleId", "RoleName"))">
            <option value="">-- Chọn vai trò --</option>
        </select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}