<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuanlythuvienDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>


                @* Chỉ Admin mới thấy *@
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admins" asp-action="Index">Admin</a>
                    </li>
                }

                @* Chỉ Admin hoặc Librarian mới thấy *@
                @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Borroweds" asp-action="Index">Borroweds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Fines" asp-action="Index">Fines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Librarians" asp-action="Index">Librarian</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Index">Publisher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Student</a>
                    </li>
                }

                @* Nếu chưa login hoặc là Student thì chỉ thấy Login/Register *@
                @if (!User.Identity.IsAuthenticated || User.IsInRole("Student"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                    </li>
                }

                @* Nếu đã login thì hiện Logout *@
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-link nav-link">Logout (@User.Identity.Name)</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>